h1 {
    text-align: center;
    color: blue;
    font-size: 200%;
    font-style: oblique;
    font-family: "monospace"
}

p {
    color: green;
    font-family: "monospace";
    font-size: 120%;
}

#content {
  padding: 50px;
  background-color: PapayaWhip;
  border: solid 1px #;
  min-height: 80vh;
}

img {
    width: 400px;
    height: auto;
}

#lab4{
  background-color: #f7d9d0;
  width: auto;
  min-height: 300px;
  margin: auto;
  border: solid 2px #d4b8b0;
  font-size: 20px;
}
