h1 {
    text-align: center;
    color: blue;
    font-size: 200%;
    font-style: oblique;
    font-family: "Comic Sans MS"
}

p {
    color: green;
    font-family: monospace;
    font-size: 120%;
}

#content {
  border: solid 1px #B0AEB8;
  width: auto;
  min-height: 300px;
  padding: 10px;
  margin: auto;
  border: solid 5px #e3715b;
  font-size: 20px;
}
