h1 {
    text-align: center;
    color: blue;
    font-size: 200%;
    font-style: oblique;
    font-family: "monospace"
}

p {
    color: green;
    font-family: "monospace";
    font-size: 120%;
}

#content {
  padding: 50px;
  background-color: PapayaWhip;
  border: solid 1px #;
  min-height: 80vh;
}

img {
    width: 400px;
    height: auto;
}
